.project-box{
    background-color: #55595a;
    width: 370px;
    height: 130px;
    border-radius: 10px;
}

.project-box-title{
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: left;
    margin-bottom: 0px;
}

.active{
    text-align: center;
    border: 0px;
    margin-left: 10px;
    margin-top: 20px;
    width: 60px;
    border-radius: 50px;
    background-color: #527262;
    color: #62cb8b;
    margin-bottom: 0px;
}

.project-box-text{
    margin-left: 20px;
    color: #A1A5A7;
}

.arrow{
    margin-left: 250px;
    width: 80px;
    height: 40px;
    border-radius: 50px;
    background-color: #527262;
    color: #fff;
    border: 0px;
}

.go{
    color: white;
}

a:hover{
    color: white;
    
}