.bi{
    font-size: 20px;
}

.fa{
    font-size: 20px;
    justify-content: center;
}

.btnn{
    margin-top: 10px;
}

.social{
    list-style: none;
    margin-left: 20px;
    margin-top: 14px;
}

.bttn{
    background: #fff;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    color: #000;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
 
/*github*/

.bi-github{
    color: #fff;
}
.github{
    background-color: #0f1111;
}

/*spotify*/

.bi-spotify{
    color: #fff;
}
.spotify{
    background-color: #1ED760;
}

/*instagram*/

.bi-instagram{
    color: #fff;
}
.instagram{
    background-color: #7431f9;

}

/*youtube*/

.bi-youtube{
    color: #fff;
}
.youtube{
    background-color: #ff0000 ;
}

